.content-container {
    margin: 0 auto;
    padding: $xl-size $xxl-size;
    max-width: 120rem;
    background: $off-white;
}

.inner-content-container {
    margin: 0 auto;
    max-width: 110rem;
    background: $off-white;
}