.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-body {
    margin-bottom: $l-size;
    @media (max-width: $desktop-breakpoint) {
        margin-bottom: $m-size;
    }
}

.list-item {
    align-items: center;
    background: white;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $m-size;
    padding: $m-size 0 $m-size $m-size ;
    text-decoration: none;

    @media (max-width: $desktop-breakpoint) {
        align-items: right;
        display: flex;
        flex-direction: column;
        padding: $s-size;
    }
}

.list-item__content {
    @media (max-width: $desktop-breakpoint) {
        padding-bottom: $m-size;
    }
}

.list-item__actions {
    @media (max-width: $desktop-breakpoint) {
        padding-top: $m-size;
        min-width: 100%;
        border-top: 1px solid darken($off-white, 7%);
        display: flex;
        justify-content: space-evenly;
    }
}

.list-item--action {
    text-decoration: none;
    border: 1px solid darken($off-white, 7%);
    padding: 39.5px $m-size;
    border-top: none;
    border-right: none;
    color: darken($off-white, 50%);
    transition: background .3s ease;
    &:hover {
        background: darken($off-white, 5%);
    }
    @media (max-width: $desktop-breakpoint) {
        border: none;
        padding: 0;
        transition: none;
        &:hover {
        background: none;
    }
    }
}

.list-item--message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: 0;
    padding-left: $s-size;
    
    @media (max-width: $desktop-breakpoint) {
        margin: $s-size 0 0 0;
        padding-left: 0;
    }
}